* {
  box-sizing: border-box;
}

body {
  background-color: snow;
  font-family: 'Roboto';
  overflow: hidden;
}

/*-----------------------------------HOME---------*/

div.greeting p {
  margin: 240px 64px 0;
  font-size: 21px;
  /*-webkit-animation-duration: 0.0s;
  -webkit-animation-delay: 0s;*/
}

.jumbotron {
  background-color: snow;
}

div.jumbotron div.changeable {
  border-right: 0.08em solid dimgrey;
  color: coral;
  display: inline-block;
  font-size: 63px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 48px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: type 1s steps(8, end), blink-caret 1s ease-in-out infinite;
  -webkit-animation-delay: 0.02s;
}

/*The typing efect */
@keyframes type {
  from {width: 0}
  to {width: 47%}
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: dimgrey;}
}

.jumbotron h1 {
  display: inline-block;
  /*-webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.2s;*/
}

.jumbotron p {
  font-weight: 400;
  /*-webkit-animation-duration: 1s;
  -webkit-animation-delay: 1.2s;*/
}

ul.sidebar {
  height: 600px;
  margin-top: 130px;
}

ul.sidebar li {
  list-style: none;
  margin: 0 0 80px;
  text-decoration: none;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-delay: 0.8s;
}

ul.sidebar li.right1 {
  margin-left: 65px;
}

ul.sidebar li.right2 {
  margin-left: 250px;
}

ul.sidebar li.right3 {
  margin-left: 140px;
}

ul.sidebar li.right4 {
  margin-left: 260px;
}

ul.sidebar li.right5 {
  margin-left: 100px;
}

ul.sidebar li a {
  border-left: 1px groove coral;
  color: dimgrey;
  font-size: 25px;
  opacity: 0.8;
  padding-left: 10px;
  padding-bottom: 4px;
}

ul.sidebar li a:hover {
  opacity: 1;
  text-decoration: none;
}

ul.sidebar li.right1 a:hover {
  color: #F8C787;
}

ul.sidebar li.right2 a:hover {
  color: #80C892;
}

ul.sidebar li.right3 a:hover {
  color: #E1BC6F;
}

ul.sidebar li.right4 a:hover {
  color: #3987BE;
}

ul.sidebar li.right5 a:hover {
  color: #BE6139;
}


/*---------------------------------ABOUT PAGE -----------*/

div.about-me {
  margin-top: 100px;
}

div.col-md-5 {
  text-align: center;
}

div img.myself {
  border: 3px solid azure;
  border-radius: 50%;
  height: auto;
  width: 70%;
}

div.col-md-7 p {
  font-size: 20px;
  letter-spacing: 0.05em;
  margin-top: 20px;
  width: 90%;
}

.skills {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.skill-name {
  margin: 10px 0 0;
}

.skill-bar {
  background-color: #ddd;
  border-radius: 14px;
  margin: 25px 0;
  width: 100%;
}

.skill {
  border-radius: 14px;
  color: white;
  text-align: right;
  padding-right: 20px;
  line-height: 28px;
  width: 20%;
}

.html {
  background-color: #F1A230;
}

.css {
  background-color: #B29BD1;
}

.javascript {
  background-color: #963D3C;
}

.angular {
  background-color: #3987BE;
}

.php {
  background-color: #47D16A;
}

.swift {
  background-color: #CCAC00;
}

.photoshop {
  background-color: #44A3AE;
}

.illustrator {
  background-color: #F16B30;
}


/*----------------------------------------- PROJECTS */

div.projects1 {
  margin-top: 120px;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
}

div.col-xs-6 {
  text-align: center;
}

/*DELETE*/
div.col-xs-6 a img {
  height: auto;
  margin-bottom: 50px;
  width: 90%;
}
/*DELETE*/

a div.col-xs-6 {
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
  height: 200px;
  margin: 0 35px 50px;
  width: 41%;
}

a div.col-xs-6.project1 {
  background-image: url("http://webneel.com/daily/sites/default/files/images/daily/01-2016/29-beautiful-website-design-dunked-free-portfolio.preview.jpg");
}

a div.col-xs-6.project2 {
  background-image: url("https://www.awwwards.com/awards/gallery/2015/09/6-web-design-trends-awwwards-image18.png");
}

a div.col-xs-6.project3 {
  background-image: url("https://topdesigninspiration.com/wp-content/uploads/2016/08/hp-magic-words-sharing-750x413.jpg");
}

a div.col-xs-6.project4 {
  background-image: url("http://media02.hongkiat.com/creative-portolio-designs/2-Brian-Rhinehart-Portfolio-Kineticshadows.jpg");
}

a div.col-xs-6.project1:hover {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ), url("http://webneel.com/daily/sites/default/files/images/daily/01-2016/29-beautiful-website-design-dunked-free-portfolio.preview.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
}

a div.col-xs-6.project2:hover {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ), url("https://www.awwwards.com/awards/gallery/2015/09/6-web-design-trends-awwwards-image18.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
}

a div.col-xs-6.project3:hover {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ), url("https://topdesigninspiration.com/wp-content/uploads/2016/08/hp-magic-words-sharing-750x413.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
}

a div.col-xs-6.project4:hover {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ), url("http://media02.hongkiat.com/creative-portolio-designs/2-Brian-Rhinehart-Portfolio-Kineticshadows.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: 100% 100%;
}

a div.col-xs-6 h2 {
  color: white;
  display: none;
  letter-spacing: 0.1em;
  padding-top: 60px;
  text-decoration: none;
}

a div.col-xs-6 h2:hover {
  opacity: 1;
}

a div.col-xs-6 img:hover {
  opacity: 0.5;
}

/*--------------SLIDER BUTTONS */
.slider {
  text-align: center;
}

div.slider a {
  margin: 0 6px;
  text-decoration: none;
}

div.slider a#four1 {
  -webkit-animation-delay: 0.6s;
}

div.slider a#four2 {
  -webkit-animation-delay: 0.7s;
}

div.slider a#four3 {
  -webkit-animation-delay: 0.8s;
}

div.slider a i {
  color: #E1BC6F;
}

/*------------------------------ PROCESS PAGE -----------*/

.processes {
  margin-top: 120px;
}

.process-img {
  margin-bottom: 20px;
}

.process-img img.planning-img {
  margin: 0 auto;
  width: 91%;
}

.process-content {
  height: 210px;
  margin-bottom: 60px;
  text-align: center;
}

.process-content h2 {
  font-size: 36px;
}

.process-content p {
  font-size: 20px;
  line-height: 1.6em;
}

div.process-content.designing, img.designing-img {
  -webkit-animation-delay: 0.6s;
}

/*-----------------------------CONTACT ME PAGE---------- */

div.jumbotron.contact-me {
  margin-top: 80px;
  padding: 0;
}

div.jumbotron.contact-me h1 {
  font-weight: bolder;
}

div.jumbotron.contact-me p.caption {
  margin: 20px 0 30px;
}

div.contact-email, div.contact-phone {
  color: #BE6139;
  display: inline-block;
  margin-left: 6px;
  padding-right: 80px;
}

div.contact-email i {
  display: inline-block;
  font-size: 1.4em;
}

div.contact-email p {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding-left: 5px;
}

div.contact-phone i {
  display: inline-block;
  font-size: 1.5em;
}

div.contact-phone p {
  display: inline-block;
  margin: 0;
  padding-left: 5px;
}

h1.drop-line {
  font-size: 20px;
  margin-bottom: 30px;
}

form.contact-form p {
  color: #BE6139;
  display: inline-block;
  font-size: 18px;
  /*font-weight: bold;*/
  width: 40%;
  margin-right: 9%;
}

form.contact-form input {
  background-color: snow;
  border: none;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  width: 40%;
  margin-right: 9%;
  margin-bottom: 15px;
}

::-webkit-input-placeholder {
  background-color: black;
}

form.contact-form textarea {
  background-color: snow;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  width: 89%;
}



/*---------------------------------MEDIA QUERIES -----------*/

@media screen and (min-width: 768px) {


  .jumbotron {
    padding-top: 20px;
  }

  .jumbotron p {
    margin-left: 5px;
    margin-top: 40px;
  }
}
